<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">


    <title>@ViewBag.Title</title>
    <link href="~/Content/Home/assets/css/main.css" rel="stylesheet" />
</head>
<body class="landing">
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <h1><a href="#">Parkur</a> Otopark Hizmetleri</h1>
            <nav id="nav">
                <ul>
                    <li><a href="~//Home/Index">Anasayfa</a></li>
                    <li><a href="~/OurService">Hizmetlerimiz</a></li>
                    <li><a href="~/OurPrice">Fiyatlar</a></li>
                    <li><a href="~/Contact">İletişim</a></li>
                    <li><a href="~/Login" class="button">Oturum Aç</a></li>
                </ul>
            </nav>
        </header>
        <!-- Banner -->
        <section id="banner"></section>
        <div>
            @RenderBody()
        </div>


    </div>

    <!-- Scripts -->
    <script src="~/Content/Home/assets/js/jquery.min.js"></script>
    <script src="~/Content/Home/assets/js/jquery.dropotron.min.js"></script>
    <script src="~/Content/Home/assets/js/jquery.scrollgress.min.js"></script>
    <script src="~/Content/Home/assets/js/skel.min.js"></script>
    <script src="~/Content/Home/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/Content/assets/js/main.js"></script>

</body>
</html>
