@{if (Session["SessionContext"] == null)
    {
        Response.Redirect("/login");
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Parkur Admin Panel</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Content/Dashboard/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Dashboard/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/Content/Dashboard/css/fullcalendar.css" />
    <link rel="stylesheet" href="~/Content/Dashboard/css/matrix-style.css" />
    <link rel="stylesheet" href="~/Content/Dashboard/css/matrix-media.css" />
    <link href="~/Content/Dashboard/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Dashboard/css/jquery.gritter.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    @RenderSection("head", false)
</head>
<body>
    <!--Header-part-->
    <div id="header">
        <h1><a href="dashboard.html">Matrix Admin</a></h1>
    </div>
    <!--close-Header-part-->
    <!--top-Header-menu-->
    <div id="user-nav" class="navbar navbar-inverse">
        <ul class="nav">
            <li class="dropdown" id="profile-messages">
                <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">Hoşgeldin @Session["KullaniciAdi"]</span><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="icon-user"></i> Profil Sayfam</a></li>
                    <li class="divider"></li>
                    <li><a href="/LogOut"><i class="icon-off"></i> Çıkış Yap</a></li>
                </ul>
            </li>
            <li class="dropdown" id="menu-messages">
                <a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-envelope"></i> <span class="text">Mesajlarım</span> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a class="sAdd" title="" href="#"><i class="icon-plus"></i> Yeni Mesaj</a></li>
                    <li class="divider"></li>
                    <li><a class="sInbox" title="" href="#"><i class="icon-envelope"></i> Gelen</a></li>
                    <li class="divider"></li>
                    <li><a class="sOutbox" title="" href="#"><i class="icon-arrow-up"></i> Giden</a></li>
                </ul>
            </li>
            <li class="dropdown" id="ayarlar">
                <a href="#" data-toggle="dropdown" data-target="#ayarlar" class="dropdown-toggle"><i class="icon icon-cog"></i> <span class="text">Ayarlar</span> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a class="sAdd" title="" href="#"><i class="icon-user"></i> Personel İşlemleri</a></li>
                    <li class="divider"></li>
                    <li><a class="sInbox" title="" href="#"><i class="icon-user"></i> Abone İşlemleri</a></li>
                    <li class="divider"></li>
                    <li><a class="sOutbox" title="" href="#"><i class="icon-cogs"></i> Genel Ayarlar</a></li>
                </ul>
            </li>

        </ul>
    </div>
    <!--close-top-Header-menu-->
    <!--sidebar-menu-->
    <div id="sidebar">
        <a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
        <ul>
            <li class="active"><a href="/Dashboard"><i class="icon icon-home"></i> <span>Anasayfa</span></a> </li>
            <li> <a href="/StaffList"><i class="icon icon-user"></i> <span>Personeller</span></a> </li>
            <li> <a href="/SubscriberList"><i class="icon icon-truck"></i> <span>Aboneler</span></a> </li>
            <li class="submenu">
                <a href="#"><i class="icon icon-th"></i> <span>Müşteriler</span></a>
                <ul>
                    <li><a href="/CustomerList"><i class="icon icon-th"></i> <span>Müşteri Listesi</span></a>
                    <li><a href="/CustomerInsert/@Convert.ToInt32(1)"><i class="icon icon-th"></i> <span>Müşteri Park</span></a>
                    <li><a href="/CustomerInsert/@Convert.ToInt32(2)"><i class="icon icon-th"></i> <span>Müşteri Yikama</span></a>
                </ul>
            </li>
            <li><a href="grid.html"><i class="icon icon-fullscreen"></i> <span>Full width</span></a></li>
        </ul>
        <ul style="bottom:0px; position:fixed;">
            <li class="content">
                <span>Otopark Doluluk</span>
                <div class="progress progress-mini progress-danger active progress-striped">
                    <div style="width: 75%;" class="bar"></div>
                </div>
                <span class="percent">75%</span>
                <div class="stat">75 / 100</div>
            </li>
        </ul>
    </div>
    <div id="content">
        @RenderBody()
    </div>

    <script src="~/Content/Dashboard/js/excanvas.min.js"></script>
    <script src="~/Content/Dashboard/js/jquery.min.js"></script>
    <script src="~/Content/Dashboard/js/jquery.ui.custom.js"></script>
    <script src="~/Content/Dashboard/js/bootstrap.min.js"></script>
    <script src="~/Content/Dashboard/js/jquery.flot.min.js"></script>
    <script src="~/Content/Dashboard/js/jquery.flot.resize.min.js"></script>
    <script src="~/Content/Dashboard/js/fullcalendar.min.js"></script>
    <script src="~/Content/Dashboard/js/matrix.js"></script>
    <script src="~/Content/Dashboard/js/jquery.gritter.min.js"></script>
    <script src="~/Content/Dashboard/js/jquery.validate.js"></script>
    <script src="~/Content/Dashboard/js/matrix.form_validation.js"></script>
    <script src="~/Content/Dashboard/js/jquery.wizard.js"></script>
    <script src="~/Content/Dashboard/js/jquery.uniform.js"></script>
    <script src="~/Content/Dashboard/js/select2.min.js"></script>
    <script src="~/Content/Dashboard/js/matrix.popover.js"></script>
    <script src="~/Content/Dashboard/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        // This function is called from the pop-up menus to transfer to
        // a different page. Ignore if the value returned is a null string:
        function goPage(newURL) {

            // if url is empty, skip the menu dividers and reset the menu selection to default
            if (newURL != "") {

                // if url is "-", it is this page -- reset the menu:
                if (newURL == "-") {
                    resetMenu();
                }
                // else, send page to designated URL
                else {
                    document.location.href = newURL;
                }
            }
        }

        // resets the menu selection upon entry to this page:
        function resetMenu() {
            document.gomenu.selector.selectedIndex = 2;
        }
    </script>
    @RenderSection("scripts", false)
</body>
</html>
