
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div id="content-header">
    <div id="breadcrumb">
        <a href="#">Hata</a>
    </div>
</div>
<br /><br /><br />
<div class="error_ex">
    <h1>403</h1>
    <h3>Yaptıgınız işlem bir hata ile karşılaştı.</h3>
    <p>Lütfen daha sonra tekrar deneyin ve yetkililer ile iletişime geçin</p>
    <a class="btn btn-warning btn-big" href="/Dashboard">Anasayfa</a>
</div>
