@model CARPARK.DTO.EntitisModelViewDTO.MusteriViewModel
@{
    ViewBag.Title = "DashboardPanel";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<script src="~/Content/OpenALPR/utils.js"></script>
<script src="~/Content/OpenALPR/server.js"></script>
<script src="~/Content/OpenALPR/OpenALPRDemo.js"></script>
<script src="~/Content/OpenALPR/OpenALPRAdapter.js"></script>
<script src="~/Content/OpenALPR/client.js"></script>
<link rel="stylesheet" href="~/Content/Dashboard/css/select2.css" />
<div id="content-header">
    <div id="breadcrumb">
        <a href="/DashboardPanel" class="tip-bottom"><i class="icon-home"></i> Anasayfa</a>
    </div>
</div>
<br />

