@model CARPARK.DTO.EntitisModelViewDTO.MusteriViewModel
@{
    ViewBag.Title = "DashboardPanel";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div id="content-header">
    <div id="breadcrumb">
        <a href="/DashboardPanel" class="tip-bottom"><i class="icon-home"></i> Anasayfa</a>
    </div>
</div>
<br />

