
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<style>
    #sub {
        margin-bottom: 0;
        margin-top: 0;
    }
</style>
<link href="~/Content/Dashboard/Buton/DashboardButon.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/Dashboard/css/select2.css" />
<div id="content-header">
    <div id="breadcrumb">
        <a href="/Dashboard" class="tip-bottom"><i class="icon-home"></i> Anasayfa</a>
    </div>
</div>
<br />
<div class="container-fluid">
    <hr id="sub"><br />
    <div class="buttonHolder row">
        <a href="/CustomerInsert/@Convert.ToInt32(1)" class="button tick span3 tip-bottom" title="Araç Park"></a>
        <a href="/CustomerInsert/@Convert.ToInt32(2)" class="button cross span3 tip-bottom" title="Araç Yıkama"></a>
        <a href="#" class="button heart span3 tip-bottom"></a>
        <a href="#" class="button flower span3 tip-bottom"></a>
    </div>
    <hr id="sub">
    <div class="row-fluid">
        <div class="span8">

        </div>
        <div class="span4">
            <div class="widget-box">
                <div class="widget-title">
                    <div class="pull-left">
                        <span class="icon"><i class="icon-th"></i></span>
                        <h5>Müşteri Ödeme</h5>
                    </div>
                </div>
                <div class="widget-content nopadding">

                    <div id="order-view-content" class="table-responsive">
                        <ul id="order-view-tabs" class="nav nav-tabs tabs-left">
                            <li class="active"><a href="#order-view-tabs-order-details" data-toggle="tab"><strong>Araç Park</strong></a></li>
                            <li><a href="#order-view-tabs-payment" data-toggle="tab"><strong>Araç Yıkama</strong></a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="order-view-tabs-order-details" class="tab-pane active">
                                <div class="control-group">
                                    <div class="span2"></div>
                                    <div class="controls">
                                        <select class="span9" name="MarkaID" id="MarkaId">
                                            <option>34 ASS 234</option>
                                        </select><br /><br />
                                    </div>
                                </div>
                                <hr id="sub"><br /> 
                                <div class="control-group">
                                    <div class="span2"></div>
                                    <div class="controls">
                                        <input type="text" name="" class="span9" placeholder="Park Süresi..." />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="span2"></div>
                                    <div class="controls">
                                        <input type="text" name="Tutar" class="span9" placeholder="Park Tutarı..." />
                                    </div>
                                </div>
                                <hr id="sub"><br />
                                <div class="control-group">
                                    <div class="span5"></div>
                                    <button type="submit" class="btn btn-success">Kaydet</button>
                                </div>
                            </div>
                            <div class="tab-pane" id="order-view-tabs-payment">
                                <div class="control-group">
                                    <div class="span2"></div>
                                    <div class="controls">
                                        <select class="span9" name="MarkaID" id="MarkaId">
                                            <option>34 ASS 234</option>
                                        </select><br /><br />
                                    </div>
                                </div>
                                <hr id="sub"><br />
                                <div class="control-group">
                                    <div class="span2"></div>
                                    <div class="controls">
                                        <input type="text" name="Tutar" class="span9" placeholder="Tutar Giriniz..." />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="span2"></div>
                                    <div class="controls">
                                        <input type="text" name="Plaka" class="span9" placeholder="Plaka Giriniz..." />
                                    </div>
                                </div>
                                <hr id="sub"><br />
                                <div class="control-group">
                                    <div class="span5"></div>
                                    <button type="submit" class="btn btn-success">Kaydet</button>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
