
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div id="content-header">
    <div id="breadcrumb">
        <a href="/Dashboard"  class="tip-bottom"><i class="icon-home"></i> Anasayfa</a>
    </div>
</div>

