
@{
    ViewBag.Title = "GenelAyarlar";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<style>
    #sub {
        margin-bottom: 0;
    }
</style>
<div id="content-header">
    <div id="breadcrumb"> <a href="/DashboardPanel" title="Anasayfaya Geri Dön" class="tip-bottom"><i class="icon-home"></i> Anasayfa</a> <a href="#" class="current"><i class="icon-cogs"></i>Genel Ayarlar</a> </div>
</div>
<div class="container-fluid">
    <hr id="sub">
    <div class="row-fluid">
        <div class="widget-box">
            <div class="widget-title">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab1">Ayarlar</a></li>
                </ul>
            </div>
            <div class="widget-content tab-content">
                <div id="tab1" class="tab-pane active">
                  
                </div>
            </div>
        </div>
    </div>
</div>
