@model CARPARK.DTO.EntitisModelViewDTO.AracViewModel
@{
    ViewBag.Title = "SubscriberAdd";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<style>
    .container-fluid .row-fluid:first-child {
        margin-top: 0;
    }

    #sub {
        margin-bottom: 0;
    }
</style>
<link rel="stylesheet" href="~/Content/Dashboard/css/colorpicker.css" />
<link rel="stylesheet" href="~/Content/Dashboard/css/datepicker.css" />
<link rel="stylesheet" href="~/Content/Dashboard/css/uniform.css" />
<link rel="stylesheet" href="~/Content/Dashboard/css/select2.css" />
<link rel="stylesheet" href="~/Content/Dashboard/css/bootstrap-wysihtml5.css" />

<div id="content-header">
    <div id="breadcrumb">
        <a href="/Dashboard" title="Anasayfaya Geri Dön" class="tip-bottom"><i class="icon-home"></i> Anasayfa</a>
        <a href="/SubscriberList" title="Abone Sayfasına Geri Dön" class="tip-bottom"><i class="icon-user"></i> Aboneler</a>
        <a href="#" class="current">Abone Ekle</a>
    </div>
</div>

<div class="container-fluid">
    <hr id="sub">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-align-justify"></i> </span>
                    <h5>Abone Ekle</h5>
                </div>
                <div class="widget-content nopadding">
                    <form action="/Subscriber/SubscriberAdd" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
                        <div class="control-group">
                            <label class="control-label">İsim :</label>
                            <div class="controls">
                                <input type="text" name="Adi" class="span4" placeholder="İsim Giriniz..." />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Soyisim :</label>
                            <div class="controls">
                                <input type="text" name="Soyad" class="span4" placeholder="Soyisim Giriniz..." />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">TC Kimlik :</label>
                            <div class="controls">
                                <input type="text" name="TCNo" class="span4" placeholder="TC Kimlik Giriniz..." />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Telefon :</label>
                            <div class="controls">
                                <input type="text" name="CepTel" class="span4" placeholder="Telefon Numarası Giriniz..." />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">E-Posta :</label>
                            <div class="controls">
                                <input type="email" name="Eposta" class="span4" placeholder="E-Posta Adresi Giriniz..." />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Araç Marka :</label>
                            <div class="controls">
                                <select class="span4" name="MarkaID" id="MarkaID">
                                    @foreach (var item in Model.MarkaListesi)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select><br /><br />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Araç Model :</label>
                            <div class="controls">
                                <select class="span4" name="ModelID" id="ModelID">
                                    @foreach (var item in Model.ModelListesi)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select><br /><br />
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="control-group">
                                <label class="control-label"></label>
                                <button type="submit" class="btn btn-success">Kaydet</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="~/Content/Dashboard/GoogleMapJS/jquery-1.4.2.min.js"></script>
<script src="~/Content/Dashboard/js/jquery.ui.custom.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#MarkaID").change(function () {
            var markaID = $(this).val();
            var modellist = $("#ModelID");
            modellist.empty();
            $.ajax({
                url: '/Subscriber/AracModelList',
                type: "POST",
                dataType: "json",
                data: { 'id': markaID },
                success: function (data) {
                    $.each(data, function (index, option) {
                        modellist.append('<option value="' + option.Value + '">' + option.Text + '</option>');
                    });
                }
            });
        });
    });
</script>