@{
    Layout = null;
}
@{if (Session["SessionContext"] != null)
    {
        Response.Redirect("/Dashboard");
    }
}
<!DOCTYPE html>

<html>
<head>
    <title>Matrix Admin</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Content/Dashboard/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Dashboard/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/Content/Dashboard/css/matrix-login.css" />
    <link href="~/Content/Dashboard/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Toastr/toastr.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="loginbox">
        <form id="loginform" class="form-vertical" action="index.html">
            <div class="control-group normal_text"> <h3><img src="~/Content/Dashboard/img/logo.png" alt="Logo" /></h3></div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_lg"><i class="icon-user"> </i></span>
                        <input type="text" id="inputUsername" placeholder="Kullanıcı Adı" />
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_ly"><i class="icon-lock"></i></span>
                        <input type="password" id="inputPassword" placeholder="Şifre" />
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <span class="pull-left"><a href="#" class="flip-link btn btn-info" id="to-recover">Şifremi Unuttum</a></span>
                <span class="pull-right"><a type="submit" href="javascript: LoginControl()" class="btn btn-success" /> Giriş Yap</a></span>
            </div>
        </form>
        <form id="recoverform" action="#" class="form-vertical">
            <p class="normal_text">E-posta adresinizi aşağıya girin ve size bir şifreyi nasıl kurtaracağınıza dair talimatları göndereceğiz.</p>

            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_lo"><i class="icon-envelope"></i></span><input type="text" placeholder="E-mail Adresi" />
                </div>
            </div>
            <div class="form-actions">
                <span class="pull-left"><a href="#" class="flip-link btn btn-success" id="to-login">&laquo; Geri Dön</a></span>
                <span class="pull-right"><a class="btn btn-info" />Şifre Gönder</a></span>
            </div>
        </form>
    </div>
    <script src="~/Content/Dashboard/js/jquery.min.js"></script>
    <script src="~/Content/Dashboard/js/matrix.login.js"></script>
    <script src="~/Content/Toastr/Utility.js"></script>
    <script src="~/Content/Toastr/toastr.js"></script>
    <script type="text/javascript">
        function LoginControl() {
            var model = { KullaniciAdi: $("#inputUsername").val(), Parola: $("#inputPassword").val() };
            if (model.KullaniciAdi.trim() != "" && model.Parola.trim()) {
                $.ajax({
                    url: "/Login/Login",
                    type: "POST",
                    data: model,
                    success: function (e) {
                        var sonuc = e;
                        if (e == "")
                            ShowMessage("error", "Giriş Hatası", "Yanlış Kullanıcı adı veya şifre");
                        else
                            window.location = e;
                    }
                });

            } else {
                ShowMessage("warning", "Boş Geçilemez", "Lütfen Kullanıcı Adı ve Şifre giriniz.");
            }
        }
    </script>
</body>
</html>
