
@{
    ViewBag.Title = "StaffAdd";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<style>
    .container-fluid .row-fluid:first-child {
        margin-top: 0;
    }

    #sub {
        margin-bottom: 0;
    }
</style>
<link rel="stylesheet" href="~/Content/Dashboard/css/colorpicker.css" />
<link rel="stylesheet" href="~/Content/Dashboard/css/datepicker.css" />
<link rel="stylesheet" href="~/Content/Dashboard/css/uniform.css" />
<link rel="stylesheet" href="~/Content/Dashboard/css/select2.css" />
<link rel="stylesheet" href="~/Content/Dashboard/css/bootstrap-wysihtml5.css" />
<link href="~/Content/Dashboard/css/jquery-ui.min.css" rel="stylesheet" /><!--GoogleMap input tasarım için-->

<script>
    function terminate() {//Modalda bulunan googlemap adres bilgisini sayfaya ekler.
        var vReturnValue = new Object();
        vReturnValue.firstname = document.getElementById("address").value;
        window.returnValue = vReturnValue;
        document.getElementById("formAdres").value = vReturnValue.firstname;
    }
</script>

<div id="content-header">
    <div id="breadcrumb">
        <a href="/Dashboard" title="Anasayfaya Geri Dön" class="tip-bottom"><i class="icon-home"></i> Anasayfa</a>
        <a href="/StaffList" title="Personel Sayfasına Geri Dön" class="tip-bottom"><i class="icon-user"></i> Personeller</a>
        <a href="#" class="current">Personel Ekle</a>
    </div>
</div>

<div class="container-fluid">
    <hr id="sub">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-align-justify"></i> </span>
                    <h5>Personel Ekle</h5>
                </div>
                <div class="widget-content nopadding">
                    <form action="/Staff/StaffAdd" method="post" class="form-horizontal" role="form" >
                        <div class="control-group">
                            <label class="control-label">İsim :</label>
                            <div class="controls">
                                <input type="text" name="Ad" class="span4" placeholder="İsim Giriniz..." />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Soyisim :</label>
                            <div class="controls">
                                <input type="text" name="Soyad" class="span4" placeholder="Soyisim Giriniz..." />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">TC Kimlik :</label>
                            <div class="controls">
                                <input type="text" name="TCNo" class="span4" placeholder="TC Kimlik Giriniz..." />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Telefon :</label>
                            <div class="controls">
                                <input type="text" name="Telefon" class="span4" placeholder="Telefon Numarası Giriniz..." />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">E-Posta :</label>
                            <div class="controls">
                                <input type="email" name="Eposta" class="span4" placeholder="E-Posta Adresi Giriniz..." />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Personel Resmi :</label>
                            <div class="controls">
                                <input name="Fotograf" type="file" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><br />Adres :</label>
                            <div class="controls">
                                <div class="buttons">
                                    <a id="add-event" data-toggle="modal" href="#modal-add-event" class="btn btn-inverse btn-mini"><i class="icon-plus icon-white"></i> Google Map</a>
                                    <div class="modal hide" id="modal-add-event">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">×</button>
                                            <h3>Google Map</h3>
                                        </div>
                                        <div class="modal-body" style="padding:0;">
                                            <div class="google-map-container">
                                                <input id="address"  placeholder="Adres Giriniz... " type="text" class="form-control span12" />
                                                <br />
                                                <div id="map_canvas" style="height:300px; border:1px solid lightgrey;"></div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="#" class="btn" data-dismiss="modal">İptal</a>
                                            <a href="#" data-dismiss="modal" id="add-event-submit" onclick="terminate()" class="btn btn-primary">Adres Ekle</a>
                                        </div>
                                    </div>
                                </div>
                                <input type="text" name="Adres" id="formAdres" class="span11" placeholder="Adres bilgisini yazınız. Google Map ile daha kolayca adres bilgisini girebilirsiniz." />
                            </div>

                        </div>
                        <div class="form-actions">
                            <div class="control-group">
                                <label class="control-label"></label>
                                <button type="submit" class="btn btn-success">Kaydet</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="~/Content/Dashboard/GoogleMapJS/jquery-1.4.2.min.js"></script>
<script src="~/Content/Dashboard/js/jquery.ui.custom.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyCmkj-xLsbn3SoTiHGe9oQaDLz04tjZvGw"></script>
<script src="~/Content/Dashboard/GoogleMapJS/main.js"></script>